DeepPotential/DNN@MB-pol/log.*
DeepPotential/DNN@MB-pol/graph-compress.pb:Zone.Identifier
DeepPotential/liquid-density/*:Zone.Identifier
DeepPotential/vle/*:Zone.Identifier
TIP4P/2005/output/
TIP4P/2005/rdf/*.data
TIP4P/2005/rdf/log.*
TIP4P/2005/rdf/trajectory.*
TIP4P/2005/rdf/*.rdf1
TIP4P/2005/rdf/*.png
TIP4P/2005/thermo/log.*
TIP4P/2005/thermo/*.txt
TIP4P/2005/isf/*.csv
TIP4P/2005/isf/*.png
TIP4P/2005/isf/*.lammpstrj
TIP4P/2005/isf/log.*
