DeepPotential/DNN@MB-pol/log.*
DeepPotential/DNN@MB-pol/graph-compress.pb:Zone.Identifier
DeepPotential/liquid-density/*:Zone.Identifier
DeepPotential/vle/*:Zone.Identifier
*.png
*.data
*.lammpstrj
*.log
*.csv
*.txt
*.npy
log.*